<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5">
        <div class="card">
            <div class="card-body">
                <h1>Movie Theatre </h1>  
                <h6>Hello, <%= name %></h6>


                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                          
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#" onclick=>({'Addmovies.ejs'}) >Add Movies</a>
                                  </li>
                              
                                <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Add timings</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="#">Buy ticket</a>
                              </li>
                              
                             
                            <form class="d-flex">
                              <input class="form-control me-2" type="search" placeholder="Search Movies" aria-label="Search">
                              <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                          </div>
                        </div>
                      </nav>
                      <br/><br/> 
                    <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>